<br>
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li>
        <span class="show-for-sr">Current: </span> About Us
      </li>
    </ul>
  </nav>
</div>
<br>
<div class="row column text-center">
  <h2>About Us</h2>
  <hr>
  <p>
    Ecokat Book Store is one of the biggest book store around the world. We care about our customers and our products quality. We care.
  </p>
  <br>
  <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJrVdWRHg8ZEARMMpxpsB2pKU&key=AIzaSyAJAb4MYgcWTcnK-IplDXKDhLQHKqjzKzs" allowfullscreen></iframe>
</div>
