<br>
<div class="row columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><%= link_to "Home", root_path %></li>
      <li>
        <span class="show-for-sr">Current: </span> Contact
      </li>
    </ul>
  </nav>
</div>
<br>
<div class="row column text-center">
  <h2>Contact Us</h2>
  <hr>
  <br>

  <p>
    We would like the hear from you! Leave us a message!
  </p>
  <br>

  <div class="small-4 columns">&zwnj;</div>
  <div id="contactForm" class="small-4 columns">
      <form id="myForm" method="post" data-abide>

          <h5>Contact Us</h5>
          <label>Name</label>
          <small class="error">Your full name is required.</small>
          <input type="text" placeholder="Full Name" required>

          <label>Email</label>
          <small class="error">An email address is required.</small>

          <input type="email" placeholder="username@address.com" required>

          <label>Web Address</label>
          <input type="url" placeholder="http://www.url.com">

          <label>Your Message</label>
          <small class="error">Your message is required.</small>
          <textarea placeholder="Enter your message here" required></textarea>

        <input type="submit" class="nice blue radius button" value="Send Message"></button></a>
        </form>
      </div>
      <div class="small-4 columns">&zwnj;</div>

</div>
