<div class="row column">
   <hr>
   <ul class="menu">
      <li>Ecokat Book Store</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li class="float-right">Copyright 2016</li>
   </ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
   $(document).foundation();
</script>
