<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><%= link_to "Ecokat Book Store", root_path, {:class => "menu-text"} %></li>
        <li class="has-submenu">
          <a href="#">Categories</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Authors</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
        <% if user_signed_in?  %>
            <li><button type="button" class="button">My Page</button></li>
            <li><button type="button" class="button round secondary">Sign Out</button></li>
        <% else %>
            <li><button type="button" class="button round secondary">Sign Up</button></li>
        <% end %>
        <li><button type="button" class="button round alert "><i class="fi-[shopping-cart]"></i>My Cart</button></li>
      </ul>
    </div>
  </div>
</div>
